<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/cssMe/about.css">
</head>
<style>
    .footer {
        position: relative;
    }
</style>

<body class="body">


    <center>
        <div class="aAtas">
            <div class="aimg2"></div>
            <!-- <img src="img/undiksha.png" alt="" class="aimg1"> -->
            <br> <br>
            <h1 class="text-light">HALAMAN ABOUT UNIVERSITAS X</h1>


        </div>
    </center>
    <div class="conAnimasi">
        <div class="atengah-1">
            <div class="atengah1-1">

                <h2 class="pt-5 ms-3">Tentang Universitas</h2>
                <br>
                <p class="aTentang hiden">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed voluptate
                    eligendi inventore illum molestiae repellat doloribus cum nemo! Incidunt fugit perferendis autem
                    debitis rem magni dolores aperiam corrupti sint non necessitatibus, modi quaerat, ipsa, dignissimos
                    deleniti dolorem assumenda ad. Numquam possimus reprehenderit mollitia delectus dolore, aliquam
                    nulla totam, dolorum in magni officia sequi fuga at molestias. Maiores repellat repellendus dolores.
                </p>
            </div>
            <div class="atengah1-2">
                <div class="img1">
                    <img src="/img/rektorat-undiksha.jpg" alt="">
                </div>
            </div>

        </div>

        <div class="atengah-2">
            <center>
                <h2 class="hiden">Sejarah</h2>
                <br> <br>
            </center>
            <p class="hiden">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium totam, consequatur
                quod deleniti numquam modi excepturi ab nihil hic laboriosam atque rerum architecto similique nisi fuga
                quidem explicabo nostrum dolorum. Qui fugit nesciunt doloremque quam dignissimos repellat, neque sint
                nisi expedita rem dolorem repellendus saepe dolor et aliquid, suscipit minima consequatur provident
                voluptatibus eum perspiciatis quo accusantium. Consequuntur molestiae, minima adipisci neque eum fugiat
                aut velit atque cupiditate eaque inventore, consequatur maxime voluptatibus eveniet molestias sint odit
                dicta, minus quis. Unde numquam officia quae ut at delectus doloremque hic ex atque! Officia fugiat
                sequi impedit maxime in, quidem nobis enim, omnis, beatae minus minima odit illo cupiditate itaque qui.
                Pariatur, accusamus magnam consequatur ea, reiciendis, laboriosam voluptate dolorem magni est ipsam
                perferendis repellat ab. Modi quo necessitatibus culpa officiis dicta enim ipsa mollitia in numquam
                voluptate dolor atque, voluptas assumenda commodi reprehenderit quos aliquam omnis. Fugiat at
                necessitatibus provident sunt?</p>
        </div>
        <br> <br>
        <center>
            <h1 class="titleRektor hiden">Rektor Masa jabatan 2023-2027</h1>
            <br> <br>
        </center>
        <div class="atengah3">

            <div class="atengah3-1 hiden">
                

            </div>
            <div class="atengah3-2 hiden">

            </div>

        </div>

    </div>



</body>
<script src="/js/jsMe/dom.js"></script>

</html>