<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/cssMe/home.css">
  <title>Home</title>
</head>

<body class="body">


  <div class="hatas">
    <center>
      <div class="backgroundd">

      </div>
      <img src="img/undiksha.png" alt="">
      <h2 class="text-white undiksha"> SELAMAT DATANG <br>DI  UNIVERSITAS X</h2>
    </center>
  </div>
  <div class="tengah1">
    <div class="tengah1-1">

    </div>
    <div class="htengah2">


    </div>



  </div>
  <!-- <script src="/js/jsMe/dom.js"></script> -->
</body>

</html>