<style>
    *{
        margin: 0px;
    }
    footer{
        height: 50px;
        width: 100%;
        /* position: fixed; */
        color: white;
        background-color:rgb(40, 39, 39);
        position: absolute;
        top: 100%;
        

    }
</style>
<center>
<footer>
    <p>Copyright Gede Agus Supriatmaja 2023</p>
</footer>
</center>